body{
    color:#484848;
    font-size: 14px;
    font-family: Circular,"Helvetica Neue",Helvetica,Arial,sans-serif;
    padding: 0%;
    margin:0%;
    min-height:100vh;
    display: flex;
    flex-direction: column;
}
.logo {
    max-width: 10%;
    width: 5%;
    object-fit: contain;
    vertical-align: middle;
    display: inline-block;
    outline: 0;
 }