* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

.filters {
    -webkit-box-align: center !important;
    position: relative;
    /* background-color: #1e1a1a; */
    color: rgb(60, 12, 12);
    height: 70px;
    width: 100%;
    border: 2px solid #DDDDDD;
    border-radius: 4px;
    text-align: center;
    box-sizing: border-box;
    align-items: center;
    display: flex;
    /* flex-direction: column; */
}

.search-button {
    font-size: 18px;
    background-color: #FF5A5F;
    color: #FFFFFF;
    height: 48px;
    width: 20%;
    border: none;
    border-radius: 4px;
    position: absolute;
    top: 50%;
    right: 30px;
    transform: translateY(-50%);
    opacity: 1;
    transition: opacity 0.2s;
}

.search-button:hover {
    opacity: 90;
}

.amenities {
    background-color: yellow;
    /* position: absolute; */
    /* top: 0%; */
    height: 100%;
    /* left: 30%; */
    font: 14px;
    width: 25%;
    margin: 10px;
}

.locations {
    /* position: absolute; */
    background-color: blue;
    /* top: 0%; */
    height: 100%;
    width: 25%;
    border-right: 1px solid #DDDDDD;
}

h3 {
    font-weight: 600;
}

h4 {
    font-weight: 400;
    font-size: 14px;
}